

<div class = student style = "width:100%">

<div class = auth style = "float:left; width:50%;">
<h2>Students Operation</h2><br>

<p><button class='btn-primary'(click)='goto("resisterStu")'>ClickHere</button>  Register Student  </p>
<p><button class='btn-primary'(click)='goto("getAllStu")'>ClickHere</button>  Get Info About All Student</p>
<p><button class='btn-primary'(click)='goto("removeStu")'>ClickHere</button>  Student Remove</p>

</div>


<div class = auth style = "float:left; width:50%;">
<h2>Book Operation</h2><br>

<p><button class='btn-primary'(click)='goto("addBook")'>ClickHere</button> Add Books</p>
<p><button class='btn-primary'(click)='goto("getAllBook")'>ClickHere</button> Get Info About All Books</p>
<p><button class='btn-primary'(click)='goto("removeBook")'>ClickHere</button>  Book Remove</p>

</div>

<div class = auth style = "float:left; width:50%;">
<h2>BookBorrow Operation</h2><br>

<p><button class='btn-primary'(click)='goto("Borrow")'>ClickHere</button>  Issue Book</p>
<p><button class='btn-primary'(click)='goto("return")'>ClickHere</button>  Return Book</p>
<p><button class='btn-primary'(click)='goto("searchByStuId")'>ClickHere</button>  Student BookBorrow Info</p>
<p><button class='btn-primary'(click)='goto("searchByBookId")'>ClickHere</button>  Books BookBorrow Info</p>
<p><button class='btn-primary'(click)='goto("borrowedList")'>ClickHere</button>  Book Borrowed Detail</p>

</div>

<div class = auth style = "float:left; width:50%;">
<h2>Authorization Operation</h2><br>

<p><button class='btn-primary'(click)='goto("updateAuthPass")'>ClickHere</button>  Authorization Password update</p>
<p><button class='btn-primary'(click)='goto("removeAuth")'>ClickHere</button>  Remove Authorization</p>
<p><button class='btn-primary'(click)='goto("getAllAuth")'>ClickHere</button>  Get All Authorized User</p>

</div>
</div>
