<div class='container'>
<h2>Register Authorization</h2><br>


<input type="text" name="name" placeholder="Name" [(ngModel)]='name'><br><br>

<input type="text" UserName="userName" placeholder="userName" [(ngModel)]='username'><br><br>

<input type="password" password="password" placeholder="Password" [(ngModel)]='password'><br><br>

<input type="password" (keyup)='chPass()' password="password" placeholder="Re-Type Password" [(ngModel)]='repassword'>{{status}}<br><br>

<button class="btn-warning btn"  (click)="register('login')">Register</button><br><br>

<p>{{response}}</p>

<p>If You Have Already Register Then Click Here for <button class='btn-primary'(click)='goto("login")'>LogIn</button></p>

</div>
